@import "tailwindcss";

/* :root {
  --background: #ffffff;
  --foreground: #171717;
} */

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}
/* 
@media (prefers-color-scheme: dark) {
  :root {
    --background: white;
    --foreground: black;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
.dashboard-bg-img {
  background-image: url("../assets/images/main-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.family-reemkufi{
  font-family: 'Reem Kufi ';
}
.family-TwCenMT{
  font-family: 'Tw Cen Mt' ;
}
@media screen and (max-device-width: 991px) {
  .dashboard-bg-img {
    background-image: url("../assets/images/main-bg.png");
    background-repeat: no-repeat;
    background-size: contain;
  }
}
@media (min-width: 992px) {
  .dashboard-bg-img {
    background-image: url("../assets/images/main-bg.png");
    background-repeat: no-repeat;
    /* background-size: contain; */
  }
}
