@import "tailwindcss";

/* :root {
  --background: #ffffff;
  --foreground: #171717;
} */

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}
/* 
@media (prefers-color-scheme: dark) {
  :root {
    --background: white;
    --foreground: black;
  }
} */

body {
  background: #f7e7e8;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
.dashboard-bg-img {
  background-image: url("../assets/images/main-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.family-inter {
  font-family: "Inter";
}
.family-prompt {
  font-family: "Prompt";
}
.family-reemkufi {
  font-family: "Reem Kufi ";
}
.family-TwCenMT {
  font-family: "Tw Cen Mt";
}
.family-trirong {
  font-family: "Trirong";
}
.how-it-work-bg {
  /* background-image: url("../assets/images/arrow.png"); */
  background-repeat: no-repeat;
  background-size: cover;
  /* background-position: center; */
}
/* .gradient-button {
  background-image: linear-gradient(
    169.15deg,
     rgba(252, 114, 146, 0.4) 0%,
     rgba(238, 237, 237, 0.2) 96.79%,
    rgba(238, 237, 237, 0.2) 96.79%);


  padding:10px 0;
  font-weight: 500;
  border: 2px ;
  border-radius: 5px;
  cursor: pointer;
} */
/* .gradient-button {
  background: rgba(255, 255, 255, 0.8);
  font-weight: 500;
  border-radius: 10px;
  cursor: pointer;
  color: black;
  border-image: linear-gradient(
      169.15deg,
      rgba(252, 114, 146, 0.8) 0%,
      rgba(238, 237, 237, 0.4) 100%
    )
    1;
  border: 2px solid transparent;
} */
.gradient-button {
  font-weight: 500;
  border-radius: 10px;
  cursor: pointer;
  color: black;
  background: rgba(255, 255, 255, 0.8);
  border: 3px solid transparent;
  border-image: linear-gradient(
      169.15deg,
      rgba(252, 114, 146, 0.8) 0%,
      rgba(238, 237, 237, 0.4) 100%
    )
    1;
}
/* @media screen and (max-device-width:365px) {
  .heart-card-con{
        left: 41% !important;
            top: 30% !important;
  }
  .heart-card-con img{
        width: 32% !important; 
  }
} */
@media screen and (max-device-width: 575px) {
  .howitwork-img {
    width: 240px !important;
    height: 500px !important;
  }
  /* .howitwork-cards {
    gap: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  } */
}
@media (min-width: 576px) and (max-device-width: 767px) {
  .howitwork-img {
    width: 300px !important;
    height: 610px !important;
  }
}
@media screen and (max-device-width: 991px) {
  .dashboard-bg-img {
    background-image: url("../assets/images/main-bg.png");
    background-repeat: no-repeat;
    background-size: contain;
  }
  /* .howitwork-cards {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  } */
}
@media (min-width: 992px) and (max-device-width: 1023px) {
  .dashboard-bg-img {
    background-image: url("../assets/images/main-bg.png");
    background-repeat: no-repeat;
    /* background-size: contain; */
    background-position: center;
  }
  .howitwork-container {
    display: flex;
    justify-content: space-evenly;
  }

  .howitworkcard-container {
    position: relative;
  }
}
@media screen and (min-device-width: 1200px) {
  /* .howitwork-img {
    margin-left: auto;
    margin-right: auto;
  } */
}
@media screen and (min-device-width: 1281px) {
  .dashboard-bg-img {
    background-position: center;
  }
}
@media (min-width: 1440px) and (max-device-width: 1536px) {
  .first-card {
    right: 22% !important;
  }
}
@media (min-device-width: 1699) {
  .first-card {
    right: 39% !important;
  }
}
@media (min-device-width: 2000px) {
  .Hukup-page {
    margin-left: auto;
    margin-right: auto;
  }
}
