@import "tailwindcss";

/* :root {
  --background: #ffffff;
  --foreground: #171717;
} */

@font-face {
  font-family: "Tw Cen MT";
  src: url("/fonts/TwCenMT.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}
/* 
@media (prefers-color-scheme: dark) {
  :root {
    --background: white;
    --foreground: black;
  }
} */

:root {
  --arrow-color: rgba(0, 0, 0, 0.03);
}

body {
  background: #f7e7e8;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
.dashboard-bg-img {
  background-image: url("../assets/images/main-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* background-color: ; */
  background-color: rgba(30, 30, 94, 0.3) !important;
  /* Semi-transparent color */
  background-blend-mode: overlay;
}
.family-inter {
  font-family: "Inter";
}
.family-prompt {
  font-family: "Prompt";
}
.family-reemkufi {
  font-family: "Reem Kufi ";
}
.family-TwCenMT {
  font-family: "Tw Cen Mt";
}
.family-trirong {
  font-family: "Trirong";
}
.how-it-work-bg {
  background-image: url("../assets/images/arrow.png");
  background-repeat: no-repeat;
  background-size: cover;
  /* background-position: center; */
  background-position: bottom;
}
.howitwork-cards {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.howitwork-cards::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}
.gradient-button {
  font-weight: 500;
  border-radius: 10px;
  cursor: pointer;
  color: black;
  background: rgba(255, 255, 255, 0.8);
  border: 3px solid transparent;
  border-image: linear-gradient(
      169.15deg,
      rgba(252, 114, 146, 0.8) 0%,
      rgba(238, 237, 237, 0.4) 100%
    )
    1;
}
.feature-img:hover{
  transform: scale(1.1);
}
.feature-block:hover {
    border-color: rgba(247, 231, 232, .5);
    transform: translateY(-8px);
    box-shadow: 0 15px 35px rgba(0, 0, 0, .15);
}.feature-img{
  transition:transform  0.3s !important;
}

@media (min-width: 460px) and (max-device-width: 639px) {
  .meetsomeone-con {
    height: 575px;
  }
  .quote {
    width: 90px;
    left: 38%;
    top: 3%;
  }
}
@media (min-width: 426px) and (max-device-width: 639px) {
  .app-btn {
    width: 40%;
  }
  .app-text {
    font-size: 14px;
  }
  .play-btn {
    right: 17%;
  }
  .users {
    top: 5%;
  }
}
@media screen and (max-device-width: 575px) {
  .howitwork-img {
    width: 240px !important;
    height: 500px !important;
  }
  .dashboard-bg-img {
    background-image: url("../assets/images/main-bg.png");
    background-repeat: no-repeat;
    background-size: cover !important;
  }
}
@media (min-width: 450px) and (max-device-width: 500px) {
  .dashboard-couple-pic {
    right: 12%;
  }
}
@media (min-width: 501px) and (max-device-width: 575px) {
  .dashboard-couple-pic {
    right: 12%;
  }
  .card-1 {
    right: 50%;
  }
  .card-2 {
    right: 5%;
  }
}
@media (min-width: 576px) and (max-device-width: 639px) {
  .dashboard-couple-pic {
    right: 12%;
  }
  .card-1 {
    right: 43%;
  }
  .card-2 {
    right: 4%;
  }
}
@media (min-width: 850px) and (max-device-width: 940px) {
  .card-1 {
    right: 39%;
  }
}
@media (min-width: 941px) and (max-device-width: 991px) {
  .card-1 {
    right: 36%;
  }
}
@media (min-width: 992px) and (max-device-width: 1023px) {
  .dashboard-couple-pic {
    right: 12%;
  }
  .card-1 {
    right: 39%;
  }
  .card-2 {
    right: 10%;
  }
}
@media (min-width: 1150px) and (max-device-width: 1220px) {
  .card-1 {
    right: 41%;
  }
  .card-2 {
    right: 3%;
  }
}
@media (min-width: 1400px) and (max-device-width: 1500px) {
  .card-1 {
    right: 40%;
  }
  .card-2 {
    right: 14%;
  }
}
@media (min-width: 1536px) and (max-device-width: 1599px) {
  .card-1 {
    right: 37%;
  }
  .card-2 {
    right: 4%;
  }
  .couple-pic-img {
    width: 100%;
    height: 453px;
  }
  .card1-img {
    width: 320px;
    height: 370px;
  }
  .card2-img {
    width: 330px;
    height: 405px;
  }
  .dashboard-couple-pic {
    right: 7%;
  }
  .heart-img {
    width: 40px;
    height: 44px;
  }
}
@media (min-width: 1600px) and (max-device-width: 1699px) {
  .dashboard-couple-pic {
    right: 0%;
  }
  .couple-pic-img {
    width: 92%;
  }
  .card-1 {
    right: 44%;
  }
  .couple-pic-img {
    height: 660px;
  }
  .card1-img {
    width: 420px;
    height: 519px;
  }
  .card2-img {
    height: 570px;
    width: 437px;
  }
}
@media (min-width: 1500px) and (max-device-width: 1535px) {
  .card-1 {
    right: 41%;
  }
  .card-2 {
    right: 3%;
  }
}
@media (min-width: 576px) and (max-device-width: 767px) {
  .howitwork-img {
    width: 300px !important;
    height: 610px !important;
  }
}
@media (min-width: 1920px) and (max-device-width: 2000px) {
  .couple-pic-img {
    height: 660px;
  }
  .card2-img {
    width: 440px;
    height: 575px;
  }
  .card-2 {
    right: 10%;
  }
  .dashboard-couple-pic {
    right: 12%;
  }
  .card1-img {
    width: 425px;
    height: 520px;
  }
  .card-1 {
    right: 49%;
  }
  .heart1-con {
    right: 11%;
  }
}
@media (min-width: 577px) and (max-device-width: 991px) {
  .dashboard-bg-img {
    background-image: url("../assets/images/main-bg.png");
    background-repeat: no-repeat;
  }
}
@media (min-width: 992px) and (max-device-width: 1023px) {
  .dashboard-bg-img {
    background-image: url("../assets/images/main-bg.png");
    background-repeat: no-repeat;

    background-position: center;
  }

  .howitworkcard-container {
    position: relative;
  }
}

@media screen and (min-device-width: 1281px) {
  .dashboard-bg-img {
    background-position: center;
  }
}
@media (min-width: 1440px) and (max-device-width: 1535px) {
  .first-card {
    right: 9% !important;
  }
}
@media (min-device-width: 1699) {
  .first-card {
    right: 20% !important;
  }
}
@media (min-device-width: 2000px) {
  .Hukup-page {
    margin-left: auto;
    margin-right: auto;
  }
}
